{% extends 'base2.html.twig' %}


{% block body %}
    {% include 'convivencia/navegacion.html.twig' %}
    <div class="">
        <h3 class="center azul-prof fuente">Modificar Tutor de grupos</h3>

<br><br>
        {{ form_start(form, {'attr': {'class':'col s12 l10 offset-l1 mtop', 'id':'profesoresGruposForm', 'action':'', 'method':'POST'}}) }}
            <div class="col s12 m6">
                {{ form_row(form.grupo) }}
            </div>
            <div class="col s12 m6">
                {{ form_row(form.idProfesor) }}
        </div>
        <div class="col s12 l4 offset-l4 center">
            <button class=" btn z-depth-3 blue darken-4 waves-effect waves-light" type="submit" style="margin: 2rem auto" name="guardar" value="Enviar">Enviar <i class="material-icons right">send</i></button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
